@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}

@layer base {
  * {
    @apply selection:bg-primary selection:text-white;
  }
  body {
    @apply font-Raleway scrollbar scrollbar-thumb-primary overflow-y-scroll;
  }
  h2 {
    @apply text-[42px] md:text-[54px] lg:text-[64px] font-semibold md:leading-normal selection:bg-primary selection:text-white;
  }
  h3 {
    @apply text-[36px] md:text-[42px] lg:text-5xl font-semibold;
  }

  .tag {
    @apply text-primary text-[28px] md:text-[40px] lg:text-5xl font-medium leading-none;
  }
  .custom-background {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23dbd8e0' fill-opacity='0.22' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  .gradient-background {
    @apply bg-gradient-to-r from-primary via-[#DC0CAE] to-violet;
  }
  .panel {
    @apply box-border relative  min-h-screen w-full;
  }

  .animated-gradient-button {
    animation: animateBg 2.5s linear infinite;
    background-image: linear-gradient(
      90deg,
      #e72889,
      #dc0cae,
      #bd4ef4,
      #e72889,
      #dc0cae
    );
    background-size: 400% 100%;
  }

  .animated-gradient {
    /* animation: animateBg 10s ease infinite; */
    background-image: linear-gradient(
      90deg,
      #e72889,
      #dc0cae,
      #bd4ef4,
      #e72889,
      #dc0cae
    );
    background-size: 400% 400%;
  }

  .text-gradient-violet {
    background: linear-gradient(
      90deg,
      #1ac6ec -4.02%,
      #d12f97 103.35%,
      #e5288c 103.37%,
      #e72889 103.38%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  @keyframes animateBg {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .border-card-service {
    @apply border-primary shadow-[0px_0px_12px_rgba(255,255,255,0.3)] !important;
  }

  .elipse1 {
    position: absolute;
    width: 700px;
    height: 700px;
    left: -442px;
    top: 18px;
    background: #681e8c;
    opacity: 0.7;
    box-shadow: 0px 0px 16px 76px rgba(231, 40, 137, 0.5);
    filter: blur(500px);
  }

  .elipse2 {
    position: absolute;
    width: 687px;
    height: 732px;
    right: -300px;
    bottom: -350px;
    background: #056c8c;
    opacity: 0.7;
    box-shadow: 0px 0px 16px 76px rgba(231, 40, 137, 0.5);
    filter: blur(500px);
  }

  .bg-gradient-primary {
    background: linear-gradient(91.72deg, #df11e3 0%, #e72889 96.35%);
  }

  .text-gradient-primary {
    background: linear-gradient(91.72deg, #df11e3 0%, #e72889 96.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  #presentacion p > div {
    opacity: 0;
    transform: translate(0);
  }
}
