@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}

@layer base {
  * { 
    @apply selection:bg-primary selection:text-white
  }
  body {
    @apply font-Raleway scrollbar scrollbar-thumb-primary overflow-y-scroll;
  }
  h2 {
    @apply text-[39px] md:text-[48px] lg:text-[56px] font-semibold md:leading-normal selection:bg-primary selection:text-white;
  }
  .tag {
    @apply text-primary text-[28px] md:text-[40px] lg:text-5xl font-medium leading-none;
  }
  .custom-background {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23dbd8e0' fill-opacity='0.22' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  }
  .gradient-background {
    @apply bg-gradient-to-r from-primary via-[#DC0CAE] to-violet;
  }

  .animated-gradient-button {
    animation: animateBg 2.5s linear infinite;
    background-image: linear-gradient(
      90deg,
      #e72889,
      #dc0cae,
      #bd4ef4,
      #e72889,
      #dc0cae
    );
    background-size: 400% 100%;
  }

  .animated-gradient {
    /* animation: animateBg 10s ease infinite; */
    background-image: linear-gradient(
      90deg,
      #e72889,
      #dc0cae,
      #bd4ef4,
      #e72889,
      #dc0cae
    );
    background-size: 400% 400%;
  }
  @keyframes animateBg {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .border-card-service {
    @apply border-primary shadow-[0px_0px_12px_rgba(255,255,255,0.3)] !important;
  }
}
